@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat ;
    background: #FFD533;
    background: radial-gradient(circle, #FFD735 0%, #FFCE2D 100%);
    font-family: 'Kumbh Sans', sans-serif;
}

header{
    width: 50%;
    margin: 0% auto;
}

header h1 {
    color: #D43D2C;
    font-size: 4rem;
    font-weight: 900;
    text-align: center;
}

header h2 {
    color: #fff;
    font-size: 2.25rem;
    font-weight: 900;
}

.card-grid { 
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 25px;
    width: 75%;
    margin: 3% auto;
}

.card-grid-item{
    display: flex;
    align-items: center;
    height: 100px;
    padding-left: 25px;
    background-color: #FFCD2C;
    text-decoration: none;
    list-style: none;
}

a:link{
    text-decoration: none;
}

li a{ 
    font-size: 2.5rem;
    font-weight: 900;
    color: #D43D2C;
}


footer {
    position: fixed;
    bottom: 0;
    left: 25%;
    height: 80px;
    width: 50%;
    background-color: #3C77A3;
    margin: 0 auto;
    color: #fff;
}
