@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background: #FFD533;
    background: radial-gradient(circle, #FFD735 0%, #FFCE2D 100%);
    font-family: 'Kumbh Sans', sans-serif;
}

header h1 {
    color: #D43D2C;
    font-size: 4rem;
    font-weight: 900;
    text-align: center;
    margin-bottom: 26px;
}

h2 {
    color: #fff;
    font-size: 2.25rem;
    font-weight: 900;
}

main{
    width: 75%;
}

.r-card{
    position: relative;
    height: 100px;
    padding: 20px 25px;
    border-radius: 10px;
    margin-bottom: 27px;
    background: #f9d134;
    box-shadow:  -8px -8px 33px #e3be2f,
             8px 8px 33px #ffe439;
    text-decoration: none;
    list-style: none;
    transition: all 0.4s ease-in-out;
}

.r-card:hover{
    align-items: flex-start;
    height: 450px;
    padding: 20px 25px;
}

a:link{
    text-decoration: none;
}


li a{ 
    font-size: 2.5rem;
    font-weight: 900;
    color: #D43D2C;
}

.r-card p {
    color:#D43D2C;
    font-size: 1.25rem;
    font-weight: 300;
}

.r-details{
    display: flex;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 300ms, opacity 300ms;
}

.r-details p{
    color: #3C77A3;
}

.r-card:hover .r-details{
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0s, opacity 300ms;
}

form input {
    position: absolute;
    top: 275px;
    left: 25px;
    background-color: #3C77A3;
    padding: 9px 25px 9px 25px;
    border: none;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 900;
    color: #fff;
}

form input:hover {
    cursor: pointer;
    background-color: #fff;
    color: #3C77A3;
}

@media screen and (max-device-width: 760px)  {

    .r-details{
        flex-direction: column;
        max-height: 100%;
        max-width: 100%;
        overflow: hidden;
       
    }
    
    img {
        margin: 0 auto;
        height: 50%;
        width: 50%;
        object-fit: contain;
       }
    


    form input {
        display: none;
    }
  }

  @media screen and (max-device-width: 425px)  {

    li a {
        font-size: 1.5rem;
    }

    .r-card p {
        font-size: 1rem;
    }

    img {
        margin: 0 auto;
        height: 75%;
        width: 75%;
        object-fit: contain;
       }


   
  }