@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background: #FFD533;
    background: radial-gradient(circle, #FFD735 0%, #FFCE2D 100%);
    font-family: 'Kumbh Sans', sans-serif;
}

header h1 {
    color: #D43D2C;
    font-size: 4rem;
    font-weight: 900;
    text-align: center;
    margin-top: 26px;
    margin-bottom: 26px;
}

h1 a:visited{
    color:#D43D2C;
}

h2 {
    color: #fff;
    font-size: 2.25rem;
    font-weight: 900;
}

h3{
    margin-bottom: 15px;
    color: #D43D2C;
    font-size: 20px;
    font-weight: 900;
}

hr{
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(255, 253, 253, 0.904);
}

main{
    width: 50%;
    height: 100%;
    margin-bottom: 20%;
}

.r-card{
    position: relative;
    height: 100px;
    padding: 15px 25px;
    border-radius: 10px;
    margin-bottom: 45px;
    background: #f9d134;
    box-shadow:  -8px -8px 33px #e3be2f,
             8px 8px 33px #ffe439;
    text-decoration: none;
    list-style: none;
    transition: all 0.4s ease-in-out;
}

.vid{
    display: flex;
    justify-content: center;
    margin: 35px auto;
}

.card{
    position: relative;
    padding: 15px 25px;
    border-radius: 10px;

    margin-bottom: 27px;
    background: #f9d134;
    box-shadow:  -8px -8px 33px #e3be2f,
             8px 8px 33px #ffe439;
    text-decoration: none;
    list-style: none;
    transition: all 0.4s ease-in-out;
}

.blu-text{
    color: #3C77A3;
}

.card b {
    color: #fff;
}

.r-card:hover{
    align-items: flex-start;
    height: 450px;
    padding: 20px 25px;
}

a:link{
    text-decoration: none;
}


li a{ 
    font-size: 2.5rem;
    font-weight: 900;
    color: #D43D2C;
}

ol {
    list-style-type: none;
    counter-reset: ol-counter;
    }

ol li:before {
    font-size:30px;
    font-weight: 900;
    color: #fff;
    margin-right: 10px;
    content: counter(ol-counter);
    counter-increment: ol-counter;
    }

    ol li{
        display: flex;
        align-items: flex-start;
        margin-bottom: 1rem;
    }

.fa-egg{
    color: #fff;
    font-size: 1.2rem;
}

.ingredients{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 100px;
}

.ingredients li{
    font-weight: 500;
    margin-right: 1.5rem;
}

.r-card p {
    color:#D43D2C;
    font-size: 1.25rem;
    font-weight: 300;
}

.r-details{
    /*display: flex;*/
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 300ms, opacity 300ms;
}

.r-details p{
    color: #3C77A3;
}

.img-link{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    border-top: solid 4px #E4914B;
    height: 275px;
    margin-right: -25px;
    margin-left: -25px;
    pointer-events: none;
    background: url(images/LP.png);
    background-position: center center;
    background-repeat: no-repeat; 
    background-size: cover; 
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;  
}

.img-link:hover {
    background: linear-gradient(rgba(0,130,170,0),#E4914B), url('images/LP.png');
    background-position: center center;
    background-repeat: no-repeat; 
    background-size: cover; 
}

.img-link > form input {
    pointer-events: auto
}


.r-card:hover .r-details{
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0s, opacity 300ms;
}

form input {
    background-color: #3C77A3;
    padding: 9px 25px 9px 25px;
    border: none;
    border-radius: 5px;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 900;
    color: #fff;
}

form input:hover {
    cursor: pointer;
    background-color: #fff;
    color: #3C77A3;
}

.img-link + input:hover{
    background-image: linear-gradient(rgba(0,130,170,0),rgb(243, 148, 84)),url(images/LP.png) ;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 50%;
    background-color: #3C77A3;
    color: #fff;
    padding: 20px 25px;
    border-radius: 10px 10px 0 0;
    box-shadow:  -8px -8px 33px #e3be2f,
             8px 8px 33px #686136;
}

footer p {
 text-align: center;
}

footer strong {
    font-weight: 900;
}

footer a{
color: #fff;
}
@media screen and (max-device-width: 1024px)  {

    main{
        width: 60%;
        margin-bottom: 23%;
    }

    footer{
        width: 60%;
    }

    .ingredients li{
        margin-right: 2rem;
    }

}
@media screen and (max-device-width: 768px)  {

    main{
        margin-bottom: 20%;
        width: 75%;
    }

    .r-details{
        flex-direction: column;
        max-height: 100%;
        max-width: 100%;
        overflow: hidden;
       
    }

    
    img {
        margin: 0 auto;
        height: 50%;
        width: 50%;
        object-fit: contain;
       }

    
    form input {
        display: none;
    }

    footer{
        width: 75%;
    }

  }

  @media screen and (max-device-width: 600px)  {

    main{
        height: auto;
    }

    header h1 {
        font-size: 3rem;
    }
    

    li a {
        font-size: 1.5rem;
    }

    .r-card p {
        font-size: 1rem;
    }

    img {
        margin: 0 auto;
        height: 75%;
        width: 75%;
        object-fit: contain;
       }



  }

  @media screen and (max-device-width: 425px)  {
    h2{
        text-align: center;
        font-size: 1.8rem;
    }

    hr{
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(255, 253, 253, 0.904);
    margin: 0 auto;
    }

    p {
        font-size: 1rem;
    }

    h3{
        text-align: center;
        font-size: 1.2rem;
        margin-top: 2.5rem;
    }


  }